@media screen and (min-width: 871px) {
    
    header {
        grid-template-columns: 1fr 4fr 1fr 1fr;
    }
    .intro {
        grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
        p {
            font-size: 1em;
        }
    }
    
    /*
    svg.h-line {
        line {
            stroke-dasharray: 800;
            stroke-dashoffset: 800;
        }
    }
    */

}