
@media screen and (min-width: 425px) {
    header {
        grid-template-columns: 0.25fr 4fr 1fr 0.25fr;
    }
    /*
    svg.h-line {
        line {
            stroke-dasharray: 450;
            stroke-dashoffset: 450;
        }
    }
    */
}

@media screen and (min-width: 581px) {
    header {
        grid-template-columns: 0.75fr 4fr 1fr 0.25fr;
    }
    .intro {
        grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr;
        img {
            width: 200px;
            height: 200px;
        }
        p {
            font-size: 0.8em;
        }
    }
    /*
    svg.h-line {
        line {
            stroke-dasharray: 600;
            stroke-dashoffset: 600;
        }
    }
    */
    .container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-areas: '. content .';
        margin-top: 30px;
    }
    %container-content {
        justify-self: center;
    }
}