@media screen and (min-width: 871px) {
    
    header {
        grid-template-columns: 1fr 4fr 1fr 1fr;
    }
    .intro {
        grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
        p {
            font-size: 1em;
        }
    }
    
    /*
    svg.h-line {
        line {
            stroke-dasharray: 800;
            stroke-dashoffset: 800;
        }
    }
    */

}

@media screen and (min-width: 1080px) {
    .container {
        grid-template-columns: 0.25fr 4fr 0.25fr;
        grid-template-areas: '. content .';

        div#projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1799px) {
    header {
        grid-template-columns: 2.5fr 7fr 1fr 2.5fr;
    }
}