/* Note: Partial Sass files are imported last bc they contain media queries */
body {
  font-family: sans-serif;
}

/* header */
header {
  display: grid;
  grid-template-columns: 0.25fr 1.5fr 1fr 0.25fr;
  grid-template-areas: ". name social .";
  height: 36px;
  margin-top: 30px;
}

h1 {
  grid-area: name;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.7);
  animation: slide-from-top 2s ease-out forwards;
}

.social {
  grid-area: social;
  margin: 0.47em;
  animation: slide-from-top 2s ease-out forwards;
}
.social a {
  text-decoration: none;
}
.social svg {
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.social svg:hover {
  color: rgba(0, 0, 0, 0.7);
}

@keyframes slide-from-top {
  from {
    position: absolute;
    top: -500px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
/* intro */
.intro {
  display: grid;
  grid-template-columns: 0.25fr 1fr 2fr 0.25fr;
  grid-template-areas: ". profile blurb .";
}
.intro img {
  grid-area: profile;
  justify-self: right;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  animation-name: fadein_profile;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.intro p {
  grid-area: blurb;
  align-self: center;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  animation: fadein_text 1s ease;
  font-size: 0.7em;
  padding: 0px;
}
.intro p span {
  font-size: 1.4em;
}

@keyframes fadein_profile {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes fadein_text {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
/* containers */
.container {
  display: grid;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  grid-template-areas: ". content .";
  margin-top: 30px;
}

#projects {
  grid-area: content;
}

/* Projects */
a:-webkit-any-link {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

article {
  padding: 6px;
}

h2 {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-name: fadein_text;
  animation-duration: 4s;
  animation-timing-function: ease;
  opacity: 0.7;
  font-weight: 400;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 1px;
  animation-name: fadein_text;
  animation-duration: 4s;
  animation-timing-function: ease;
  opacity: 0.7;
  font-weight: 200;
}

.topics {
  font-size: 0.6em;
  letter-spacing: 1px;
  animation-name: fadein_text;
  animation-duration: 4s;
  animation-timing-function: ease;
  opacity: 0.6;
  font-weight: bold;
}

/* Import Sass partials for responsive styles */
@media screen and (min-width: 425px) {
  header {
    grid-template-columns: 0.25fr 4fr 1fr 0.25fr;
  }
}
@media screen and (min-width: 581px) {
  header {
    grid-template-columns: 0.75fr 4fr 1fr 0.25fr;
  }

  .intro {
    grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr;
  }
  .intro img {
    width: 200px;
    height: 200px;
  }
  .intro p {
    font-size: 0.8em;
  }

  .container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas: ". content .";
    margin-top: 30px;
  }

  #projects {
    justify-self: center;
  }
}
@media screen and (min-width: 871px) {
  header {
    grid-template-columns: 1fr 4fr 1fr 1fr;
  }

  .intro {
    grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
  }
  .intro p {
    font-size: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
